{% extends "layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% block title %}Capex{% endblock %}
{% block active_item_capex %}active_item{% endblock %}
{% block content %}
    <div id="nav_menu" class="ui tiny menu">
        <div class="left menu">
            <a class="item" href="">Home</a>
            <div class="item" style="padding-left: 0; padding-right: 0;"><i class="small right chevron icon divider"></i></div>
            <div class="item">Capex</div>
        </div>
    </div>
    <div class='ui fluid card' style="box-shadow: none;">

        <form class="ui form">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>        

    </div>
{% endblock %}