<div id="footer" class="ui footer_container">
    <div  class="ui inverted mini menu">
        <div class="ui left secondary stackable mini menu">
            <div class="item">
                &copy; Copyright 2018  - MTNCameroon Transmission Planning - DMSC 
            </div>

        </div>

        <div class="ui right secondary stackable mini menu">
            <div class="item">
             <a href="www.mtn.com">www.mtn.cm</a>   
            </div>

        </div>
    </div>
</div>