<div class="ui left vertical sidebar inverted mini menu">
    <a class="item" href="#" >
        Map
    </a>
    <a class="item" href="#">
        Sites
    </a>
    <a class="item" href="#">
        Links
    </a>
    <a class="item" href="#">
        Interferences
    </a>
    <a class="item" href="#">
        CAPEX
    </a>
    <a class="item" href="c#">
        OPEX
    </a>

</div>