/* line 3, ../../sass/imports/content.scss */
.ui.modal > .close {
  color: #1b1c1d;
}

/* line 7, ../../sass/imports/content.scss */
.ui.dimmer {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 11, ../../sass/imports/content.scss */
.ui.modal > .close {
  top: 0.2rem;
  right: 0.2rem;
  font-size: 1em;
}

/* line 18, ../../sass/imports/content.scss */
.ui.small.modal .header, .ui.tiny.modal .header {
  font-size: 16px !important;
}
/* line 23, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .ui.dividing.header, .ui.tiny.modal .content .ui.form .ui.dividing.header {
  font-size: 14px !important;
}
/* line 26, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .field > label, .ui.tiny.modal .content .ui.form .field > label {
  font-size: 12px !important;
}
/* line 29, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .field > span, .ui.tiny.modal .content .ui.form .field > span {
  font-size: 12px !important;
}
/* line 33, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .ui.field label, .ui.tiny.modal .content .ui.form .ui.field label {
  font-size: 12px !important;
}
/* line 36, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .grouped.fields label, .ui.tiny.modal .content .ui.form .grouped.fields label {
  font-size: 14px;
}
/* line 41, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .grouped.fields .field .ui.radio.checkbox label, .ui.tiny.modal .content .ui.form .grouped.fields .field .ui.radio.checkbox label {
  font-size: 12px;
}

/* line 52, ../../sass/imports/content.scss */
.ui.tiny.form .ui.dividing.header {
  font-size: 14px !important;
}
/* line 56, ../../sass/imports/content.scss */
.ui.tiny.form .field label {
  font-size: 14px !important;
}

/* line 61, ../../sass/imports/content.scss */
.ui.table tr th {
  font-size: 12px;
}
/* line 64, ../../sass/imports/content.scss */
.ui.table tr td {
  font-size: 12px;
}

/* line 69, ../../sass/imports/content.scss */
.ui.tab.segment.site_map_list_content {
  box-shadow: none;
  border: none;
}

/* line 74, ../../sass/imports/content.scss */
.float_button.ui.yellow.button {
  color: #080600;
  bottom: 45px;
  cursor: pointer;
  position: fixed;
  right: 22px;
  z-index: 2;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

/* line 84, ../../sass/imports/content.scss */
#map {
  height: 600px;
  width: 100%;
  background-color: grey;
}
