@media only screen and (max-width: 767px) {
  /* line 3, ../../sass/imports/content.scss */
  .ui.main_container {
    height: 409px !important;
  }

  /* line 7, ../../sass/imports/content.scss */
  .ui.main_container .ui.right.floated.inverted.segment {
    display: none;
  }
}
/* line 13, ../../sass/imports/content.scss */
.ui.segment.main_container {
  box-shadow: none;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 40.3em;
}
/* line 19, ../../sass/imports/content.scss */
.ui.segment.main_container img.fluid.image {
  height: 100%;
}
/* line 22, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment {
  position: absolute;
  top: 0px;
  margin-left: 0em;
  background: transparent;
}
/* line 27, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 0;
  width: 20rem;
}
/* line 32, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
/* line 36, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 43, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item .header {
  /*color: $YellowMenuItem;*/
  font-size: 14px;
}
/* line 47, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item:before {
  /*background: none;*/
}
/* line 50, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a.item {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
/* line 54, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a.item:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 63, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment {
  position: absolute;
  top: 0px;
  /*margin-right: 0em;*/
  margin-left: 72.1%;
  background: transparent;
}
/* line 69, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 0;
  width: 17rem;
}
/* line 74, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
/* line 78, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 85, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item .header {
  color: #fdca00;
  font-size: 14px;
}
/* line 89, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item:before {
  /*background: none;*/
}
/* line 92, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a.item {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
/* line 96, ../../sass/imports/content.scss */
.ui.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a.item:hover {
  color: #fdca00;
  text-decoration: underline;
}

/* line 106, ../../sass/imports/content.scss */
.ui.modal > .close {
  color: #1b1c1d;
}

/* line 110, ../../sass/imports/content.scss */
.ui.dimmer {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 114, ../../sass/imports/content.scss */
.ui.modal > .close {
  top: 0.2rem;
  right: 0.2rem;
  font-size: 1em;
}

/* line 121, ../../sass/imports/content.scss */
.ui.small.modal .header, .ui.tiny.modal .header {
  font-size: 16px !important;
}
/* line 126, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .ui.dividing.header, .ui.tiny.modal .content .ui.form .ui.dividing.header {
  font-size: 14px !important;
}
/* line 129, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .field > label, .ui.tiny.modal .content .ui.form .field > label {
  font-size: 12px !important;
}
/* line 132, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .field > span, .ui.tiny.modal .content .ui.form .field > span {
  font-size: 12px !important;
}
/* line 136, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .ui.field label, .ui.tiny.modal .content .ui.form .ui.field label {
  font-size: 12px !important;
}
/* line 139, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .grouped.fields label, .ui.tiny.modal .content .ui.form .grouped.fields label {
  font-size: 14px;
}
/* line 144, ../../sass/imports/content.scss */
.ui.small.modal .content .ui.form .grouped.fields .field .ui.radio.checkbox label, .ui.tiny.modal .content .ui.form .grouped.fields .field .ui.radio.checkbox label {
  font-size: 12px;
}

/* line 155, ../../sass/imports/content.scss */
.ui.tiny.form .ui.dividing.header {
  font-size: 14px !important;
}
/* line 159, ../../sass/imports/content.scss */
.ui.tiny.form .field label {
  font-size: 14px !important;
}

/* line 164, ../../sass/imports/content.scss */
.ui.table tr th {
  font-size: 12px;
}
/* line 167, ../../sass/imports/content.scss */
.ui.table tr td {
  font-size: 12px;
}

/* line 172, ../../sass/imports/content.scss */
.ui.tab.segment.site_map_list_content {
  box-shadow: none;
  border: none;
}

/* line 177, ../../sass/imports/content.scss */
.float_button.ui.yellow.button {
  color: #080600;
  bottom: 45px;
  cursor: pointer;
  position: fixed;
  right: 22px;
  z-index: 2;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
