/*body{
    background-color: #ffffff;
}*/
/* line 5, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu {
  height: 6em;
  border-radius: 0px;
  background: #262626;
}
/* line 9, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container {
  width: 1220px !important;
}
/* line 11, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .item {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 14, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .item img {
  width: 10.5em;
}
/* line 17, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .item:before {
  background: none !important;
}
/* line 20, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .item:hover {
  background: none !important;
}
@media only screen and (max-width: 767px) {
  /* line 25, ../sass/imports/header.scss */
  .inverted.mini.menu.top_menu .container .toc.item {
    display: flex;
  }
  /* line 28, ../sass/imports/header.scss */
  .inverted.mini.menu.top_menu .container .left.inverted.mini.menu {
    display: none;
  }
}
/* line 33, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .left.inverted.mini.menu {
  background: #741716;
  height: 2em;
  margin-top: 3.1em;
}
/* line 39, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .left.inverted.mini.menu.home_left_menu .item {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 43, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .left.inverted.mini.menu.home_left_menu .item:hover {
  background: transparent !important;
}
/* line 47, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .left.inverted.mini.menu.home_left_menu .item.six_bar_separator {
  color: #fff;
  padding: 0px;
}
/* line 52, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu {
  background: #262626;
}
@media only screen and (max-width: 767px) {
  /* line 55, ../sass/imports/header.scss */
  .inverted.mini.menu.top_menu .container .right.inverted.mini.menu .ui.action.input {
    display: none;
  }
}
/* line 60, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .ui.action.input input {
  border-radius: 0px;
  font-size: 12px;
}
/* line 64, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .ui.action.input .ui.button {
  border-radius: 0px;
  font-size: 12px;
}
/* line 69, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .item {
  font-weight: bold;
  font-size: 14px;
}
/* line 72, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .item:hover {
  background: #fdca00 !important;
  color: #262626 !important;
}
/* line 78, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .dropdown.item .menu {
  border-radius: 0em;
  margin-top: 0em;
}
/* line 82, ../sass/imports/header.scss */
.inverted.mini.menu.top_menu .container .right.inverted.mini.menu .dropdown.item .menu > .item {
  font-weight: bold !important;
}

/* line 90, ../sass/imports/header.scss */
.ui.mini.vertical.sidebar.menu {
  width: 19rem;
}
/* line 92, ../sass/imports/header.scss */
.ui.mini.vertical.sidebar.menu .item {
  font-size: 12px;
}
/* line 95, ../sass/imports/header.scss */
.ui.mini.vertical.sidebar.menu .active_item {
  background: #fdca00 !important;
  color: #000;
}
/* line 98, ../sass/imports/header.scss */
.ui.mini.vertical.sidebar.menu .active_item a {
  color: #000;
  font-weight: bold;
}
/* line 101, ../sass/imports/header.scss */
.ui.mini.vertical.sidebar.menu .active_item a:hover {
  color: #c11921 !important;
  text-decoration: underline;
}

/* line 110, ../sass/imports/header.scss */
.ui.menu > .item:first-child {
  border-radius: 0px;
}

@media only screen and (min-width: 1200px) {
  /* line 115, ../sass/imports/header.scss */
  .ui.grid.container {
    width: 1349px !important;
  }

  /* line 118, ../sass/imports/header.scss */
  .ui.container {
    width: 1349px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  /* line 126, ../sass/imports/header.scss */
  .ui.grid.container {
    width: calc(933px + 2rem) !important;
  }

  /* line 129, ../sass/imports/header.scss */
  .ui.container {
    width: calc(933px + 2rem) !important;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  /* line 135, ../sass/imports/header.scss */
  .ui.grid.container {
    width: calc(723px + 2rem) !important;
  }

  /* line 138, ../sass/imports/header.scss */
  .ui.container {
    width: calc(723px + 2rem) !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 144, ../sass/imports/header.scss */
  .ui.grid.container {
    width: auto !important;
  }

  /* line 148, ../sass/imports/header.scss */
  .ui.menu .item.six_bar_separator {
    display: none !important;
  }
  /* line 151, ../sass/imports/header.scss */
  .ui.menu .item.toc {
    display: flex !important;
  }

  /* line 155, ../sass/imports/header.scss */
  .ui.container {
    width: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 3, ../sass/imports/content.scss */
  .ui.container.main_container {
    height: 409px !important;
  }

  /* line 7, ../sass/imports/content.scss */
  .ui.container.main_container .ui.right.floated.inverted.segment {
    display: none;
  }
}
/* line 13, ../sass/imports/content.scss */
.ui.container.segment.main_container {
  box-shadow: none;
  border: none;
  margin: 0px;
  padding: 0px;
  height: 40.3em;
}
/* line 19, ../sass/imports/content.scss */
.ui.container.segment.main_container img.fluid.image {
  height: 100%;
}
/* line 22, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment {
  position: absolute;
  top: 0px;
  margin-left: 0em;
  background: transparent;
}
/* line 27, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 0;
  width: 20rem;
}
/* line 32, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
/* line 36, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 43, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item .header {
  /*color: $YellowMenuItem;*/
  font-size: 14px;
}
/* line 47, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item:before {
  /*background: none;*/
}
/* line 50, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a.item {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
/* line 54, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.left.floated.inverted.segment .inverted.vertical.menu .item a.item:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 63, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment {
  position: absolute;
  top: 0px;
  /*margin-right: 0em;*/
  margin-left: 72.1%;
  background: transparent;
}
/* line 69, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 0;
  width: 17rem;
}
/* line 74, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
/* line 78, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 85, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item .header {
  color: #fdca00;
  font-size: 14px;
}
/* line 89, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item:before {
  /*background: none;*/
}
/* line 92, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a.item {
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}
/* line 96, ../sass/imports/content.scss */
.ui.container.segment.main_container .ui.right.floated.inverted.segment .inverted.vertical.menu .item a.item:hover {
  color: #fdca00;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  /* line 5, ../sass/imports/page_content.scss */
  .ui.container.page_content .row .four.wide.column {
    display: none;
  }
}
/* line 12, ../sass/imports/page_content.scss */
.ui.container.segment.page_content {
  box-shadow: none;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 40.2em;
}
/* line 18, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row {
  padding: 0px;
}
/* line 20, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column {
  /*background: #fff*/
  padding-top: 0px !important;
}
/* line 23, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu {
  border: none;
  /*border-right: none;*/
  box-shadow: none;
  border-radius: 0px;
  margin-top: 1em;
}
/* line 29, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu a.item {
  color: #c11921;
}
/* line 31, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu a.item:hover {
  text-decoration: underline;
  color: #fdca00;
}
/* line 36, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu div.item {
  /*color: $MenuItemColor;*/
}
/* line 39, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu .item {
  font-weight: 700;
}
/* line 41, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu .item:hover {
  background: none;
}
/* line 44, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column #nav_menu.ui.tiny.menu .item:before {
  background: none;
}
/* line 49, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes {
  border-radius: 0px;
  box-shadow: none;
}
/* line 52, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes .content.card_header {
  border-radius: 0px !important;
  background-color: #741716;
  border: 1px solid #741716;
}
/* line 56, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes .content.card_header .header {
  color: #ffffff;
  font-size: 14px;
}
/* line 63, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes .content.card_content .ui.list .item {
  font-size: 14px;
}
/* line 70, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes .content.card_content .ui.two.cards.cards_team .ui.card .content .header {
  font-size: 14px;
}
/* line 73, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.fluid.about_aes .content.card_content .ui.two.cards.cards_team .ui.card .content .description {
  font-size: 12px;
}
/* line 83, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_activities_services .ui.card.fluid.activity_service {
  border-radius: 0px;
  box-shadow: none;
}
/* line 86, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_activities_services .ui.card.fluid.activity_service .content.card_header {
  border-radius: 0px !important;
  background-color: #741716;
  border: 1px solid #741716;
  max-height: 55px;
}
/* line 91, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_activities_services .ui.card.fluid.activity_service .content.card_header .header {
  color: #ffffff;
  font-size: 12px;
}
/* line 96, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_activities_services .ui.card.fluid.activity_service .content.description {
  border: 1px solid rgba(34, 36, 38, 0.1);
  font-size: 12px;
}
/* line 103, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_projects .ui.card.fluid.project {
  border-radius: 0px;
  box-shadow: none;
}
/* line 106, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_projects .ui.card.fluid.project .content.card_header {
  border-radius: 0px !important;
  background-color: #741716;
  border: 1px solid #741716;
  max-height: 55px;
}
/* line 111, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_projects .ui.card.fluid.project .content.card_header .header {
  color: #ffffff;
  font-size: 14px;
}
/* line 116, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_projects .ui.card.fluid.project .content.description {
  border: 1px solid rgba(34, 36, 38, 0.1);
  font-size: 12px;
}
/* line 123, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_business_areas .ui.card.fluid.business_area {
  border-radius: 0px;
}
/* line 125, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_business_areas .ui.card.fluid.business_area .image {
  border-radius: 0px !important;
}
/* line 129, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_business_areas .ui.card.fluid.business_area .content .header {
  font-size: 16px;
}
/* line 132, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.cards.cards_business_areas .ui.card.fluid.business_area .content .description {
  font-size: 12px;
}
/* line 141, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column {
  /*                    &:hover .segment_text_hover,
                          &:focus .segment_text_hover,
                          &:active .segment_text_hover {
                          -webkit-transform: scale(1.12);
                          -moz-transform: scale(1.12);
                          -ms-transform: scale(1.12);
                          -o-transform: scale(1.12);
                          transform: scale(1.12)
                      }*/
}
/* line 151, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover {
  padding: 0px;
  border-radius: 0px;
}
/* line 155, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover .ui.left.floated.segment {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: #131111ed;
  /*background-color: #741716e3;*/
  /*background-color: #020202ed;*/
}
/* line 168, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover .ui.left.floated.segment .ui.card {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  /*                                &:before{
                                      box-shadow: 0 -140px 40px -40px #000 inset;
                                  }*/
}
/* line 177, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover .ui.left.floated.segment .ui.card .content .header {
  font-size: 14px;
  color: #ffffff;
  /*text-transform: uppercase;*/
}
/* line 183, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover .ui.left.floated.segment .ui.card .content a:hover {
  text-decoration: underline;
}
/* line 187, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.grid.segments_text_hover_grid .column .segment_text_hover .ui.left.floated.segment .ui.card .content .description {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}
/* line 199, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors {
  padding-top: 5%;
}
/* line 203, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title {
  /*width: 32%!important;*/
  background: transparent;
}
/* line 206, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title .ui.fluid.card {
  box-shadow: none;
  border: none;
  background: transparent;
}
/* line 210, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title .ui.fluid.card .content {
  border: none;
  background: transparent;
  /*padding: 0px;*/
}
/* line 214, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title .ui.fluid.card .content .ui.circular.segment {
  height: 12rem;
  width: 12rem;
}
/* line 215, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title .ui.fluid.card .content .ui.circular.segment .header {
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  /* line 223, ../sass/imports/page_content.scss */
  .ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_title .ui.fluid.card .content {
    padding-left: 27% !important;
  }
}
/* line 231, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_content {
  background: transparent;
}
/* line 233, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_content .ui.fluid.card {
  box-shadow: none;
  border: none;
  background: transparent;
}
/* line 237, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column.page_content .ui.fluid.card .content {
  border: none;
  background: transparent;
}
@media only screen and (max-width: 767px) {
  /* line 247, ../sass/imports/page_content.scss */
  .ui.container.segment.page_content .row .twelve.wide.column .ui.middle.grid.intervention_sectiors .row .column {
    width: 100% !important;
  }
}
/* line 254, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid {
  padding-top: 5%;
}
/* line 258, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column {
  width: 32% !important;
  background: transparent;
}
/* line 261, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column .ui.fluid.card {
  box-shadow: none;
  border: none;
  background: transparent;
}
/* line 265, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column .ui.fluid.card .content {
  border: none;
  background: transparent;
  /*padding: 0px;*/
}
/* line 269, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column .ui.fluid.card .content .ui.circular.segment {
  height: 12rem;
  width: 12rem;
}
/* line 270, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column .ui.fluid.card .content .ui.circular.segment .header {
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  /* line 278, ../sass/imports/page_content.scss */
  .ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column .ui.fluid.card .content {
    padding-left: 27% !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 287, ../sass/imports/page_content.scss */
  .ui.container.segment.page_content .row .twelve.wide.column .ui.middle.four.column.grid .row .column {
    width: 100% !important;
  }
}
/* line 297, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .header {
  font-size: 16px;
  color: #c11921;
}
/* line 300, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .header:hover {
  color: #fdca00;
  text-decoration: underline;
}
/* line 305, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .description {
  font-size: 14px;
}
/* line 308, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .description .ui.list .item {
  font-size: 12px;
}
/* line 314, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .extra a {
  color: #c11921;
}
/* line 316, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .items .item .content .extra a:hover, .ui.container.segment.page_content .row .twelve.wide.column .items .item .content .extra a:focus, .ui.container.segment.page_content .row .twelve.wide.column .items .item .content .extra a:active {
  color: #fdca00;
}
/* line 325, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .angola_presentation h2 {
  font-size: 16px !important;
}
/* line 328, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .angola_presentation p {
  font-size: 14px !important;
  text-align: justify;
}
/* line 333, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.contact_card {
  width: 26rem;
}
/* line 335, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.contact_card .header {
  font-size: 14px;
}
/* line 338, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.contact_card .description {
  font-size: 12px;
}
/* line 340, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.contact_card .description p {
  font-size: 12px;
}
/* line 345, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post {
  box-shadow: none;
}
/* line 347, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .header.post_title {
  font-size: 16px;
}
/* line 350, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .meta {
  font-size: 14px;
}
/* line 352, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .meta a.nav_link {
  font-size: 14px;
  color: #c11921;
}
/* line 355, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .meta a.nav_link:hover, .ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .meta a.nav_link:focus, .ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .meta a.nav_link:active {
  color: #fdca00;
}
/* line 360, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content {
  font-size: 14px;
}
/* line 362, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content p {
  font-size: 14px;
}
/* line 366, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content.aes_extra {
  font-size: 14px;
}
/* line 368, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content.aes_extra a {
  font-size: 14px;
  color: #c11921;
}
/* line 371, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content.aes_extra a:hover, .ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content.aes_extra a:focus, .ui.container.segment.page_content .row .twelve.wide.column .ui.card.single_post .content.aes_extra a:active {
  color: #fdca00;
}
/* line 381, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.column.grid.business_area_colums .column.business_area_column .ui.card.business_area_card .image img {
  height: 155px;
  /*border-radius: 0px;*/
}
/* line 387, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .twelve.wide.column .ui.three.column.grid.business_area_colums .column.business_area_column .ui.card.business_area_card .content .header {
  font-size: 14px;
}
/* line 395, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column {
  width: 20% !important;
  padding: 0px !important;
}
/* line 398, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item > i.icon {
  float: left;
  margin: 0px 6px 0px 0.5em;
}
/* line 402, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background: #262626;
}
/* line 407, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item {
  font-size: 14px;
  font-weight: bold;
}
/* line 410, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item a {
  font-weight: bold;
  /*color:$MenuItemColor;*/
}
/* line 413, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item a:hover {
  color: #c11921 !important;
  text-decoration: underline;
}
/* line 419, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item:not(.no_hover) {
  border-radius: 0px;
  background-image: linear-gradient(to right, #262626 50%, #fdca00 50%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  /** START THE TRANSITION RULES **/
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
/* line 431, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item:not(.no_hover):hover {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  /** START THE FINAL STATE STYLING **/
  background-position: bottom right;
  color: #c11921;
}
/* line 438, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .item:not(.no_hover):hover a {
  color: #000;
}
/* line 444, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .active_item {
  background: #fdca00 !important;
  color: #000;
}
/* line 447, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .active_item a {
  color: #000;
  font-weight: bold;
}
/* line 450, ../sass/imports/page_content.scss */
.ui.container.segment.page_content .row .four.wide.column .ui.vertical.menu .active_item a:hover {
  color: #c11921 !important;
  text-decoration: underline;
}

/* line 3, ../sass/imports/footer.scss */
.ui.container.footer_container .ui.inverted.mini.menu {
  background: #262626;
  border-radius: 0px;
}
/* line 6, ../sass/imports/footer.scss */
.ui.container.footer_container .ui.inverted.mini.menu .item {
  color: #fff;
  /*font-weight: bold;*/
  font-size: 12px;
  border-radius: 0px;
}
/* line 11, ../sass/imports/footer.scss */
.ui.container.footer_container .ui.inverted.mini.menu .item:hover {
  background: none;
}
/* line 16, ../sass/imports/footer.scss */
.ui.container.footer_container .ui.inverted.mini.menu a.item:hover {
  background: none;
  color: #fdca00;
}
/* line 22, ../sass/imports/footer.scss */
.ui.container.footer_container .ui.inverted.mini.menu .item.six_bar_separator {
  padding: 0;
  margin: 0;
  color: #fff;
}

/* line 5, ../sass/imports/login.scss */
.ui.middle.grid.login_page .ui.large.form .ui.stacked.segment {
  box-shadow: none;
  border: none;
  background: transparent;
}
/* line 9, ../sass/imports/login.scss */
.ui.middle.grid.login_page .ui.large.form .ui.stacked.segment .ui.submit.button {
  margin-right: 100px;
}
/* line 12, ../sass/imports/login.scss */
.ui.middle.grid.login_page .ui.large.form .ui.stacked.segment a.reset_password {
  color: #262626 !important;
  font-weight: bold;
}
