{% extends "layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}
{% block title %}Interferences{% endblock %}
{% block active_item_interferences %}active_item{% endblock %}
{% block content %}
    <div id="nav_menu" class="ui tiny menu">
        <div class="left menu">
            <a class="item" href="">Home</a>
            <div class="item" style="padding-left: 0; padding-right: 0;"><i class="small right chevron icon divider"></i></div>
            <div class="item">Interferences</div>
        </div>
    </div>
    <div class='ui fluid card' style="box-shadow: none;">
        
    </div>
{% endblock %}